html {

}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */}

section {
    display: block;
    margin: 0px;
    overflow: hidden;
}

.section-full {
    min-height: 100vh;
}

.section-half {
    min-height: 50vh;
}

section:nth-child(1) {

}

section:nth-child(2) {

}

section:nth-child(3) {

}

section:nth-child(4) {

}

article {
    margin-left: 10vw;
    margin-right: 10vw;
    display: block;
}

footer {
    background-color: black;
    min-height: 50vh;
    color: white;
}


.nav-bar {
    user-select: none;
}

#nav-bar-top {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    padding-left: 10vw;
    padding-right: 10vw;
    
}

.fade-in {
    animation-iteration-count: infinite;
    animation: fade-in 0.3s;
}

.fade-out {
    animation-iteration-count: infinite;
    animation: fade-out 0.5s;
}

.nav-item {
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: black;
}

.nav-item-vertical {
    
}

.nav-item-horizontal {
    
}

#title {
    float: left;
    font-size: 60px;
}

#thai {
    color: red;
}

#express {
    float: left;
    font-size: 18px;
    margin-right: 5vw;
}

.menu-option {
    font-size: 35px;
    float: left;
    padding-left: 2vw;
    padding-right: 2vw;
}

.highlight {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/resources/2E5A8283.jpg');
}

.highlight-half {
    height: 50vh;
}

.highlight-full {
    height: 100vh;
}


@keyframes fade-in {
    0% {
        box-shadow: initial;
        background-color: initial;
    }
    100% {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        background-color: white;
    }
}

@keyframes fade-out {
    0% {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        background-color: white;
    }
    100% {
        box-shadow: initial;
        background-color: initial;
    }
}

.card {
    text-align: center;
    background: white;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 2%;
    overflow: hidden;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-fifth {
    width: 20%;
}

.card-quarter {
    width: 21%;
}

.card-third {
    width: 29.33%;
}

.card-half {
    width: 46%;
}

.card-full {
    display: block;
}


